{% extends "main/base.html" %}

{% block content %}
    <div class="form-center text-light text-center">
        <div class="form-group">
            <form action="" method="POST" class='form-group'>
                {% csrf_token %}
                <div class='input-group'></div>
                    {{ form }}
                </div>
                <button type="submit", class="btn btn-success" style="margin-top: 20px;">Search</button>
            </form>
        </div>
    </div>
{% endblock content %}