{% extends "main/base.html" %}

{% block content %}
    <div class="container">
        <div class="boxed">
            <div class="about-block">
                <h1 class="text-light">How this project came to life?</h1>
                <p class="about-text text-light" style="font-size: 25px; padding-top: 20px;">
                    I love buying clothes and shoes by certain brands, but I hate paying the
                    full price for them. I noticed that I spend a lot of time on different 
                    websites checking for discounts, instead of coding. I was currently learning
                    the basics of Django and I also wanted to learn WebScraping. Well if you combine
                    the three things you get this website. When you click Search, the website will
                    search some of the biggest fashion websites in Bulgaria for discounted items that 
                    match your needs. <b>This website is not for commercial use!</b> I have not asked 
                    for permission any of the websites it scrapes. It is just for personal use and 
                    learning purposes.
                    </p>
            </div>
        </div> 
    </div>
{% endblock content %}