{% extends "main/base.html" %}

{% block content %}
    <div class="container">
        <div class="boxed">
            <div class="about-block">
                <p class="about-title text-light">How this project came to life?</p>
                <p class="about-text text-light">
                    I love buying clothes and shoes, but I hate paying the
                    full price for them. I noticed that I spend a lot of time on different 
                    websites checking for discounts, instead of coding. I wanted to create a single
                    website, that with a click of a button can search all of the websites I shop
                    from and display the discounted items as they were from a single shop. I achieved 
                    this by using Django and WebScrapers. It will surely save me a lot of time and money
                    in the future. <b>This website is not for commercial use!</b> I have not asked 
                    for permission any of the websites it scrapes. It is just for personal use and 
                    learning purposes.
                </p>
            </div>
        </div> 
    </div>
{% endblock content %}